Build started...
Build succeeded.
BEGIN TRANSACTION;
ALTER TABLE [Documents] ADD [IsFavorite] bit NOT NULL DEFAULT CAST(0 AS bit);

ALTER TABLE [Documents] ADD [PublicShareToken] nvarchar(max) NULL;

ALTER TABLE [Documents] ADD [Status] nvarchar(20) NOT NULL DEFAULT N'Published';

CREATE TABLE [DocumentComments] (
    [CommentID] int NOT NULL IDENTITY,
    [DocumentID] int NOT NULL,
    [UserID] int NOT NULL,
    [Text] nvarchar(max) NOT NULL,
    [CreatedAt] datetime2 NOT NULL DEFAULT (GETUTCDATE()),
    CONSTRAINT [PK_DocumentComments] PRIMARY KEY ([CommentID]),
    CONSTRAINT [FK_DocumentComments_Documents_DocumentID] FOREIGN KEY ([DocumentID]) REFERENCES [Documents] ([DocumentID]) ON DELETE CASCADE,
    CONSTRAINT [FK_DocumentComments_Users_UserID] FOREIGN KEY ([UserID]) REFERENCES [Users] ([UserID]) ON DELETE NO ACTION
);

CREATE INDEX [IX_DocumentComments_DocumentID] ON [DocumentComments] ([DocumentID]);

CREATE INDEX [IX_DocumentComments_UserID] ON [DocumentComments] ([UserID]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260216152746_AddPublicShareTokenFix', N'10.0.3');

COMMIT;
GO


